@model PL.ASP.NET_MVC.Models.MoneyOperations


@{
    ViewBag.Title = "DepositeOperation";
}

<h2>@ViewBag.OperationName Operation</h2>
<hr />

@using (Ajax.BeginForm("EndMoneyOperation", "Account", new AjaxOptions { UpdateTargetId = "results" }))
{
    <div class="form-group">
        <p>@Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-2" }) @ViewBag.Id</p>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Sum, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Sum, new { htmlAttributes = new { @class = "form-control", placeholder = "100" } })
            @Html.ValidationMessageFor(model => model.Sum, "", new { @class = "text-danger" })
        </div>
    </div>

    <div style="text-align: center">
        <button type="submit" class="btn btn-primary btn-lg">@ViewBag.OperationName money</button> <br />
    </div>
}

<div id="results" style="margin-top: 10px">
    @{
        var isError = TempData["isError"] as bool?;
        if (isError.HasValue && !isError.Value)
        {
            <h2 style="text-align: center">The operation was completed successfully</h2>
        }
     }
</div>
