@model IEnumerable<PL.ASP.NET_MVC.Models.MoneyOperations>

@{
    ViewBag.Title = "Operations";
}

<h2>@ViewBag.OperationName.ToString()</h2>
<hr/>

@using (Html.BeginForm($"{ViewBag.OperationName}", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <table class="table">
        @foreach (var mod in Model)
        {
            <tr>
                <td>@mod.Id</td>
                <td>@mod.Type</td>
                <td>@mod.Sum</td>
                <td>@Html.ActionLink($"{ViewBag.OperationName}", "StartOperation", new {mod.Id})</td>
            </tr>
        }
    </table>
}